:root{
    /* Palette Colors*/
    --palette-gold: #d4af37;
    --palette-grey: #aaa9a8;
    --palette-dark-red: #7A0202;
    /* Other Colors Defined */
    --background-color: white;
    --text-color: black;
    --add-button-color: rgb(124, 201, 124);
    --edit-button-color: rgb(245, 245, 103);
    --delete-button-color: rgb(240, 70, 70);
    --like-button-color: rgb(200, 100, 200);
    --comment-button-color: rgb(255, 179, 37);
}

h1 {
    text-align: center;
    color: var(--palette-gold);
    font-size: 3em;
}

.mainImage {
    max-width: 100%;
    height: auto;
}

.link {
    text-decoration: none;
    color: grey
}

.placeName {
    text-decoration: none;
    color: black;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 25px;
}

nav a {
    text-decoration: none;
    color: var(--palette-dark-red);
    font-size: 1.5em;
}

nav a:hover {
    color: black;
    text-decoration: none;
}

body {
    background-color: whitesmoke;
    text-align: center;
}

main {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 30px;
}